html, body {
  height: 100%;
}

body {
  font: 20px monospace;
  margin: 0;
  background: rgb(235, 235, 235);
  cursor: url('win-cursor.png'), auto;
}

.online-users {
  text-align: center;
}

img {
  position: absolute;
}
